body {
  text-align: center;
  background-color: rgb(114, 70,248);
  justify-content: center;
 
}
.container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
}

.board {
  height: 630px;
  width: 630px;
  background-color: white;
  border: 4px solid black;
  border-top-width: 2px;
  border-bottom-width: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}


.row{
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-cell{
  height: 70px;
  width:70px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.white-circle,
.red-circle,
.yellow-circle{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid black;
  border-top-width: 8px;
  border-bottom-width: 2px;
}

.white-circle {
  background-color: rgb(114, 70,248);
}
.red-circle{
  background-color: red;
  border-top-width: 3px;
  transition: background-color 0.5s;
}
.yellow-circle {
  background-color: yellow;
  border-top-width: 3px;
  transition: background-color 1s;
}
.middle-section{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.button{
  text-align: right;
  background-color: rgba(28, 25, 25, 0.3);
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 1s;
  width: 100px;
  height: 30px;
  text-align: center;
  border: none;
  opacity: 1;
  ;
  
}



/* player left*/
.player-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 3px solid black;
  border-top-width: 2px;
  border-bottom-width: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
  

  
}

.player-container h4{
 
  font-size: 20px;
  font-weight: 4  00;
  color: black;
}
.player-container h1 {
  font-size: 40px;
  font-weight: 600;
  color: black;

}