body {
  text-align: center;
  background-color: rgb(114, 70,248);
  justify-content: center;
 
}


.board {
  height: 630px;
  width: 630px;
  background-color: white;
  border: 3px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}


.row{
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-cell{
  height: 70px;
  width:70px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.white-circle,
.red-circle,
.yellow-circle{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 4px solid black;
}

.white-circle {
  background-color: white;
}
.red-circle{
  background-color: red;
  transition: background-color 1s;
}
.yellow-circle {
  background-color: yellow;
  transition: background-color 1s;
}